<div class="card-list">
  <div class="card" *ngFor="let assignment of subjectService.subjects[0].assignments">
    <div class="pills">
      <app-pill [content]="assignment.type"></app-pill>
      <app-pill [content]="assignment.subject"></app-pill>
    </div>
    <div class="info-box">
      <span><b>Situação:</b> {{assignment.status}}</span>
      <span><b>Data:</b> {{assignment.dueDate | date }}</span>
      <span><b>Nota:</b> {{assignment.grade}} / {{assignment.grade}}</span>
    </div>
    <div class="description">{{assignment.description}}</div>
  </div>
</div>