<div class="card">
  <div class="card-header">
    <app-pill [content]="{key: 'assignment', value: assignment.type}" (onClickPill)="onClickPill.emit({key: 'assignment', value: $event})"></app-pill>
    <app-pill [content]="{key: 'subject', value: assignment.subject}" (onClickPill)="onClickPill.emit({key: 'subject', value: $event})"></app-pill>
  </div>
  <div class="card-info">
    <span><b>Situação:</b> {{ assignment.status | titleCase}}</span>
    <span><b>Data:</b> {{ assignment.dueDate | date : 'dd/MM' : '' : 'pt' }}</span>
    <span><b>Nota:</b> {{ assignment.grade }} de {{ assignment.totalGrade }}</span>
  </div>
  <div class="card-body">
    <div class="description">{{ assignment.description }}</div>
  </div>
  <app-pill [content]="{key: 'button', value: 'Concluir'}" (onClickPill)="onClickFinish.emit(assignment)"></app-pill>
  <app-pill [content]="{key: 'button', value: 'Editar'}" (onClickPill)="onClickEdit.emit(assignment)"></app-pill>
  <app-pill [content]="{key: 'button', value: 'Remover'}" (onClickPill)="onClickRemove.emit(assignment._id)"></app-pill>
</div>
