:host {
  background-color:  rgb(230, 230, 230);
  border-radius: 5px;
  padding: 10px;
}

.card-info {
  font-size: 11px;
  margin: 10px 0px;
  span {
    margin-right: 10px;
  }
}

.description {
  font-size: 14px;
  margin: 10px 0px;
}
