#textarea {
	background-color: rgb(230, 230, 230);
	border: none;
	border-bottom: 1px solid rgb(200, 200, 200);
	display: block;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	outline: none;
	resize: none;
	width: 80%;
}

.item {
	margin-bottom: 10px;
	margin-right: 20px;
}
