a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.active {
  padding-bottom: 5px;
  border-bottom: 5px solid rgb(200, 200, 200);
}

.background {
  background-color: rgb(255, 255, 255);
}

.footer {
  background-color: rgb(96, 84, 197);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  margin: auto;
  max-width: 1280px;
  padding: 10px;
  text-align: center;
}

.nav-bar {
  background-color: rgb(96, 84, 197);
  position: fixed;
  width: 100%;
}

.nav-items {
  box-sizing: border-box;
  margin: auto;
  max-width: 1280px;
  padding: 0 20px;
  a:hover {
    background-color: rgb(122, 114, 204);
  }
}

.right {
  float: right;
}