.button {
    background-color: rgb(200, 200, 200);
    border-radius: 20px;
    cursor: pointer;
    float: left;
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 10px;
    padding: 5px 20px;
}

.paragraph {
    clear: left;
    float: left;
}

.card {
    float: left;
    margin-right: 20px;
    width: 200px;
}

.card-body {
    border-left: 1px solid rgb(96, 84, 197);
    border-right: 1px solid rgb(96, 84, 197);
    display: -webkit-box;
    font-size: 13px;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.card-footer {
    border-bottom: 1px solid rgb(96, 84, 197);
    border-left: 1px solid rgb(96, 84, 197);
    border-radius: 0px 0px 10px 10px;
    border-right: 1px solid rgb(96, 84, 197);
    padding: 5px 10px;
    text-align: right;
}

.card-header {
    background-color: rgb(96, 84, 197);
    border-radius: 10px 10px 0px 0px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 5px 10px;
}

.card-info {
    color: rgb(96, 84, 197);
    cursor: pointer;
    font-size: 13px;
}

.card-list {
    clear: left;
    float: left;
    margin-bottom: 20px;
}

.col-12 {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: auto;
    max-width: 1024px;
    padding: 20px;
}

.icon {
    color: rgb(175, 175, 175);
    cursor: pointer;
    float: right;
    margin-top: -20px;
    margin-right: -10px;
    position: relative;
}

.info {
    border: 1px solid rgb(96, 84, 197);
    border-radius: 10px;
    clear: left;
    font-size: 14px;
    padding: 20px;
}

.title {
    color: rgb(96, 84, 197);
    font-size: 20px;
    margin-bottom: 20px;
}