<div class="select">
  <div class="item"><b>{{ content.name }}:</b> {{ content.selected | titleCase }}</div>
  <span *ngIf="content.isSelected">
    <app-pill [content]="{key: 'form', value: 'ALTERAR'}" (onClickPill)="editItem()"></app-pill>
    <app-pill [content]="{key: 'form', value: 'REMOVER'}" (onClickPill)="removeItem(content.selected)"></app-pill>
  </span>
  <div *ngIf="!content.isCustom && !content.isSelected">
    <div *ngFor="let x of content.service[content.serviceContent]">
      <app-pill [content]="{key: 'form', value: x}" (onClickPill)="selectItem($event)"></app-pill>
    </div>
    <div>
      <app-pill [content]="{key: 'form', value: 'NOVA'}" (onClickPill)="selectItem($event)"></app-pill>
    </div>
  </div>
  <div *ngIf="content.isCustom && !content.isSelected">
    <input class="input" type="text" #contentInput>
    <app-pill [content]="{key: 'form', value: 'ADICIONAR'}" (onClickPill)="addItem(contentInput.value)"></app-pill>
    <app-pill [content]="{key: 'form', value: 'CANCELAR'}" (onClickPill)="editItem()"></app-pill>
  </div>
</div>
