<div class="select">
  <div class="item"><b>{{ assignment.name }}:</b> {{ assignment.selected | titleCase }}</div>
  <span *ngIf="assignment.isSelected">
    <app-pill [content]="{key: 'form', value: 'ALTERAR'}" (onClickPill)="editItem()"></app-pill>
    <app-pill [content]="{key: 'form', value: 'REMOVER'}" (onClickPill)="removeItem(assignment.selected)"></app-pill>
  </span>
  <div *ngIf="!assignment.isCustom && !assignment.isSelected">
    <div *ngFor="let x of assignmentService[assignment.serviceContent]">
      <app-pill [content]="{key: 'form', value: x}" (onClickPill)="selectItem($event)"></app-pill>
    </div>
    <div>
      <app-pill [content]="{key: 'form', value: 'NOVA'}" (onClickPill)="selectItem($event)"></app-pill>
    </div>
  </div>
  <div *ngIf="assignment.isCustom && !assignment.isSelected">
    <input class="input" type="text" #input>
    <app-pill [content]="{key: 'form', value: 'ADICIONAR'}" (onClickPill)="addItem(input.value)"></app-pill>
    <app-pill [content]="{key: 'form', value: 'CANCELAR'}" (onClickPill)="editItem()"></app-pill>
  </div>
</div>
